*.pyc
*.sw?
*~
.bundle
.DS_Store
.idea
.rbenv*
.ruby-gemset*
.ruby-version*
.rvmrc*
bundler.d/*.local.rb
config/database.yml
config/database.yml.original
config/email.yaml
config/hooks/
config/initializers/encryption_key.rb
config/initializers/local_secret_token.rb
config/settings.plugins.d
config/settings.yaml
coverage/
custom_plan.rb
db/*.sqlite3*
db/schema.rb
doc/apidoc*
foreman_client
Gemfile.lock
jenkins/reports/*
locale/*.mo
locale/*/*.pox
locale/*/LC_MESSAGES
log/*.log
log/*.log.*
log/*.log.age
pkg/
public/apipie-cache
public/assets
tags
test/reports/*
tmp/
vendor/*
zeus.json
_build
